.Main
{
    font-size: 18px;
    font-weight: 300;
    color: brown;
    border: 3px solid black;
}
.h1 {
    color: red;
}
.App
{
      margin: 10px;
    border: 1px solid rgb(36, 31, 31);
}

.Component
{
  margin: 10px;  
  border: 1px solid red;
  box-shadow: 0  2px 2px rgb(240, 92, 92);
  width: 200px;
  padding: 20px;
}
.Componenth3
{
  color: darkblue;
  text-decoration: underline;
}
.headerui
{
  background-color: black;
  color: white;
}